

/* -------------- ROOT VARAIBLES ------------- */
:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-back: rgb(0, 0, 0);
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}




 /* body {
  width: 100vw;
  height: 100vh;
  background-color: #f6f6f9;
  font-size: 0.88rem;
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
}  */

.landingpage .container1 {
  display: grid;
  margin: 0 auto;
  gap: 1.8rem;
  width: 100vw;
  height: 100vh;
  font-size: 0.88rem;
  color: #fff;
  grid-template-columns: 14rem  60rem;
}
.landingpage .container1 th{
    color: #000000;
}


.container1 h1 {
  font-weight: 800;
  font-size: 1.8rem;
  color:#081330 ;
}


aside {
  height: 100vh;
  position: fixed; 
}


/* ================== SIDEBAR ==================== */


aside h3 {
  font-weight: 500;
}

aside .sidebar a {
  display: flex;
  color: var(--color-info-dark);
  text-decoration:none;
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
}

aside .sidebar a span {
  font-size: 1.6rem;
  transition: all 300ms ease;
}

/* aside .sidebar a:last-child {
  position: absolute;
  bottom: 2rem;
  width: 100%;
} */



aside .sidebar a:hover {
  color: var(--color-dark);
}




/* ================== MAIN ==================== */
main {
  margin-top: 1.4rem;
}



/* ================ RECENT ORDERS ================ */
main .recent-orders {
  margin-top: 2rem;
}

main .recent-orders h2 {
  margin-bottom: 0.8rem;
}

main .recent-orders table {
  background: var(--color-white);
  width: 100%;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: left;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}


main .recent-orders table:hover {
  box-shadow: none;
}

main table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
}

main table tbody tr:last-child td {
  border: none;
}

.recent-orders .warning{
    color: var(--color-warning);
}
.recent-orders .danger{
color: var(--color-danger);
}


/* ================= RECENT UPDATES ================ */


